.snakemake/
16snames.txt
BinNames.txt
bin_index/
bin_list.yaml
blast_16s_all_bins.outfmt6
db_16s/
filtered-BlastOut.tab
logs/
matrix-Blast.tab
missing-16S.txt
missing-bins.txt
new-env.yaml
phyloFlash/
renamed_bins/
bbmap.yml
cov-statsfiles-unpaired-all/
make-splitmapping-stats.sh
reads_to_bins/
rpkm-statsfiles-unpaired-all/
scafstats-statsfiles-unpaired-all/
scripts/bash/slurm/.map_mapped_bin_reads_to_16s.sh.swp
scripts/bash/slurm/map_mapped_bin_reads_to_16s.sh
statsfiles-unpaired-all/
16S-abundances.tab
16SrRNA-cov-statsfiles/
16SrRNA-rpkm-statsfiles/
16SrRNA-scafstats-statsfiles/
16SrRNA-statsfiles/
BinMetaData.csv
allstats-unambiguousReads.csv
bin-abundances.tab
bin-cov-statsfiles/
bin-rpkm-statsfiles/
bin-scafstats-statsfiles/
bin-statsfiles/
ref/

